/* @font-face {
    font-family: gotham-light;
    src: url(../fonts/Gotham-Light.otf);
}

@font-face {
    font-family: gotham-medium;
    src: url(../fonts/Gotham-Medium.otf);
}

@font-face {
    font-family: gotham-bold;
    src: url(../fonts/Gotham-Bold.ttf);
} */
/*new style*/

/*body {
    font-family: gotham-light;
}

button{
    font-family: gotham-medium;
}
*/
.scan-input-field{
    text-align: left !important;
    font-size: 17px;
    margin-left: auto;
    margin-right: auto;
    font-family: gotham-medium;
}


.scan-input-field>input{
    font-family: gotham-light;
}

.field-disabled
{
    background: #d6d6d6;
}

.page-header-line{
    font-size: 28px;
    text-transform: lowercase;
    line-height: 30px;
}

.page-header-line p{
    margin: 5px 0 15px;
}

button,select,input{
    outline: none !important; 
}

.gotham-light{
    font-family: gotham-light;
}
.gotham-medium{
    font-family: gotham-medium;
}

.gotham-bold{
    font-family: gotham-bold;
}

/*new style*/

.header-row{
    background: black;
}
.app-title{
    color: white;
    padding: 18px;
    text-align: center;
    font-size: 20px;
}
.app-logut-btn{
    color:white;
    padding:20px;
    text-align: right;
    cursor:pointer;
}

.custom-input{
    border: 1px solid grey;
    width: 100%;
    padding: 8px;
    padding-right: 50px;
}
.margin-top-50{
        margin-top: 50px !important;
}

.margin-left-45
{
margin-left: 45px !important;
}

.margin-top-100{
    margin-top: 100px;
}
.text-center{
    text-align:center;
}
.header-banner{
    background: #000;
    font-size: 20px;
    padding: 0px;
    font-family: gotham-light;
    color: #fff;
}
.header-banner p{
    margin: 0;
}
span.check-mark-icon {
    background: url(../images/check-mark.png) no-repeat;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 18%;
}
.barcode-icon{
    position: absolute;
    right: 4%;
    top: 7px;
    height: 25px;
    width: 25px;
    padding: 3px;
    background: url(../images/barcode.png) no-repeat;
    background-size: 100%;
    background-color: white;
}
.font-size-20{
    font-size: 20px;
}
.margin-0{
    margin: 0;
}
.padding-left-25{
   padding-left: 25px;
}
.margin-bottom-50{
    margin-bottom: 50px;
}
.margin-top-20{
    margin-top:20px !important;
}
.margin-top-30{
    margin-top: 30px !important;
}
.padding-0{
   padding: 0;
}
.margin-left-20{
    margin-left:20px;
}
.input-row{
    text-align: center;
    position: relative;
}
.input-label{
    text-align: center;
}
.margin-top-150{
    margin-top:150px;
}
.font-bold{
    font-weight: bold;
}
.margin-15{
   margin: 15px;
}
.margin-25{
margin: 25px;
}

.margin-5{
   margin: 5px;
}
.common-btn{
    background-color: #f4f4f4;
    border: 1px solid grey;
    width: 250px;
    height: 30px;
    padding-top: 4px;
    font-size: 13px;

}
.error-block{
    width: 100%;
    margin: auto;
    color:#d71212;
    padding: 10px;
    text-align: center;
    margin-bottom: 30px;
}


.success-block{
    width: 100%;
    margin: auto;
    color:green;
    padding: 10px;
    text-align: center;
    word-wrap: break-word;
}

.field-error-block{
    width: 100%;
    margin: auto;
    color: #d71212;
    padding: 10px;
    text-align: center;
}
#field-error-message{
    text-align: center;
}

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 70px;
  height: 70px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.loader-parent-div{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.1);
    z-index: 999;
}
.loader-child-div{
    margin: auto;
    margin-top: 200px;
}

.header-div{
    color: #e8e8e8;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    font-family: gotham-bold;
}
.header-logo-img{
    float: left;
    padding: 17px 0 17px 28px;
}

.header-ap-title{
    padding: 18px 0 0 0;
}

.header-logout-btn{
    float: right;
    padding: 17px 28px 0px 0px;
}

.img-width-header{
    width:109px;
}

.menu-button-section button{
    text-align: left;
}


/*new style*/

.header-row{
    background: black;
}
.app-title{
    color: white;
    padding: 18px;
    text-align: center;
    font-size: 20px;
}
.app-logut-btn{
    color:white;
    padding:20px;
    text-align: right;
    cursor:pointer;
}

.custom-input{
    border: 2px solid #929292;
    width: 100%;
    padding: 8px;
    padding-right: 40px;
}
.margin-top-50{
        margin-top: 50px !important;
}

.margin-left-45
{
margin-left: 45px !important;
}

.margin-top-100{
    margin-top: 100px;
}
.text-center{
    text-align:center;
}
.header-banner{
    background: #333e48;
    color: #fff;
    font-size: 10px;
    padding: 3px 15px;
    text-transform: uppercase;
    margin: 0;
    height: 17px;
    font-family: gotham-bold;
    text-align: left;
	width: 100%;
    position: fixed;
    left: 0;
	top:0;
    z-index: 1;
}
.barcode-icon{
    position: absolute;
    right: 10px;
    top: 8px;
    height: 25px;
    width: 25px;
    padding: 3px;
    background: url(../images/barcode.png) no-repeat;
    background-size: 100%;
    background-color: white;
}
.font-size-20{
    font-size: 20px;
}
.margin-0{
    margin: 0;
}
.padding-0{
    padding: 0!important;
}
.padding-left-25{
   padding-left: 25px;
}
.margin-bottom-50{
    margin-bottom: 50px;
}
.margin-top-5{
    margin-top:5px !important;
}
.margin-top-10{
    margin-top:10px !important;
}
.margin-top-15{
    margin-top:15px !important;
}
.margin-top-20{
    margin-top:20px !important;
}
.margin-top-30{
    margin-top: 30px !important;
}
.padding-0{
   padding: 0;
}
.margin-left-20{
    margin-left:20px;
}
.input-row{
    text-align: center;
    position: relative;
}
.input-label{
    text-align: center;
}
.margin-top-150{
    margin-top:150px;
}
.font-bold{
    font-weight: bold;
}
.margin-15{
   margin: 15px;
}
.margin-25{
margin: 25px;
}

.margin-5{
   margin: 5px;
}
.common-btn, .footer-fixed-btn .btn-default:active.common-btn{
    background-color: #87c54f;
    width: 100%;
    border-radius: 0;
    color: #fff;
    text-transform: uppercase;
    border: none;
    text-align: center;
    padding: 14px;
    height: auto;
    vertical-align: middle;
}
.common-btn:hover, .common-btn:active, .common-btn:focus, 
.common-btn.btn-default[disabled], .common-btn.btn-default[disabled]:hover {
    color: #fff;
    background-color: #87c54f;
}
.error-block{
    width: 100%;
    margin: auto;
    color:#d71212;
    padding: 10px;
    text-align: center;
    margin-bottom: 30px;
    word-wrap: break-word;
}


.success-block{
    width: 100%;
    margin: auto;
    color:green;
    padding: 10px;
    text-align: center;
    word-wrap: break-word;
}

.field-error-block{
    width: 100%;
    margin: auto;
    color: #d71212;
    padding: 10px;
    text-align: center;
}
#field-error-message{
    text-align: center;
}

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 70px;
  height: 70px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.loader-parent-div{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.1);
    z-index: 999;
}
.loader-child-div{
    margin: auto;
    margin-top: 200px;
}

.header-div{
    color: #e8e8e8;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    font-family: gotham-bold;
}
.header-logo-img{
    float: left;
    padding: 17px 0 17px 28px;
}

.header-ap-title{
    padding: 18px 0 0 0;
}

.header-logout-btn{
    float: right;
    padding: 17px 28px 0px 0px;
}

.img-width-header{
    width:109px;
}
.ack-card-title{
    text-align: center;
    margin-bottom: 10px;
}
.ack-card-col{
    margin: auto;
    margin-top: 30px;
    border: 1px solid #979797;
    font-size: 12px;
    background: #f9f8f8;
    padding: 10px;
    text-align: center;
}
ul.list {
    padding:0;
    margin: 0;
    list-style: none;
}    

ul.list li{
    padding:5px 0 5px 18px;
    margin: 0;
    background: url(../images/bullet.png) no-repeat 0 10px;
    list-style: none;
}
.common-btn-cust{
    text-align: center;
}
.footer-fixed-btn{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 20px;
    z-index: 9;
}

.footer-fixed-version{
    background: #000;
    color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    padding: 0;
    z-index: 99;
}

.footer-fixed-version div p{
    padding: 0;
    margin: 0;
}

.text-uppercase{
    text-transform: uppercase;
}
/* Item Display */
.itemDisplay{
    text-align: left;
}


