
.main img {
    width:375px !important;
    height:auto;
}


/*goodbye spacing*/

body, .main-container {margin:0px;padding:0px;}

.info-text-top h1 {
	font-size: 1.2em;
    font-weight: normal;
    padding-top: 2em;
}
