^02KcSTC;
^02KcLW412;
^02KcCL665;
^02L
D11
FA+
JC
3911S680010020000250025 ------------------------------------------------------------------------------------------------------------------------------------------------------------------------
1Y1100000150130Kohls180
ySU8
3911S680018012800200020 ®

3911S680050020000250020 Thanks for visiting us today.
3911S680065020000250020 We’d like to offer you this Kohl’s savings coupon.
3911S680080020000250020 Happy shopping!
3911S650105020000400040 TAKE AN EXTRA

JR
3911S700205015002500250 {{PERCENTOFF}}

JL
3911S700155016001000100 %
3911S700205016000800080 Off

JC
3911S680235020000250020 VALID {{STORESTARTDATE}} - {{STOREENDDATE}}. IN STORE ONLY.
3911S680250020000250020 See below for details and exclusions.

3911S680265020000250025 ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

3911S680278020000250025 ---- OR ----
3911S680315020000600060 TAKE AN EXTRA 35% OFF
3911S680345020000250025 WHEN YOU OPEN AND USE A KOHL’S CHARGE IN STORE TODAY.
3911S680360020000200020 VALID ON YOUR FIRST KOHL’S CHARGE PURCHASE.
3911S680375020000200020 SUBJECT TO CREDIT APPROVAL. SEE BELOW FOR DETAILS AND EXCLUSIONS.
3911S680390020000250025 ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

JL
3911S700405039500180018 {{PERCENTOFF}}% OFFER IS VALID FOR ONE TRANSACTION WITH ANY TENDER TYPE.  
3911S700415039500180018 Present coupon for in-store purchase to receive discount.
3911S700425039500180018 
3911S700435039500180018 Offers can be redeemed during the stated valid dates, in store only. Limit one offer per customer. 
3911S700445039500180018 DOLLAR-OFF DISCOUNTS, INCLUDING KOHL'S CASH® COUPONS, YES2YOU REWARDS® 
3911S700455039500180018 AND PROMOTIONAL GIFTS, WILL BE APPLIED PRIOR TO PERCENT-OFF TOTAL PURCHASE 
3911S700465039500180018 DISCOUNTS/COUPONS. Offer cannot be used in conjunction with other percent-off discounts, 
3911S700475039500180018 including age-specific discounts. Offer not valid on the following categories and brands of 
3911S700485039500180018 merchandise: Gift Cards; Kohl’s Cares® cause merchandise or other charitable items; select 
3911S700495039500180018 online-exclusives; premium athletic; beauty and fragrance; consumables; Curated by Kohl's brands; 
3911S700505039500180018 select electrics; premium electronics; sporting goods; sports team merchandise; premium 
3911S700515039500180018 sunglasses; toys; Columbia; Dyson; select KitchenAid; Koolaburra by UGG; Levi's; Lovepop; S'well; 
3911S700525039500180018 and Timberland. See complete list of exclusions at Kohls.com/exclusions or look for signs in store. 
3911S700535039500180018 Offer also not valid on price adjustments on prior purchases; payment on a Kohl’s Charge account; 
3911S700545039500180018 taxes, shipping and/or handling fees. Reproductions or duplicates not accepted. 
3911S700555039500180018 Offer is nontransferable. See associate for details.

ySPM
JC
3e2205006250290B{{SUPCBARCODE}}
3911S680640020000250025{{SUPCBARCODE}}

3911S680655020000180018 ------------------------------------------------------------------------------------------------------------------------------------------------------
Q1
E
